# إطار العمل
Flask==2.3.3
Flask-Login==0.6.3
Flask-Cors==6.0.2
Flask-Migrate==4.0.5
Werkzeug==2.3.7

# قاعدة البيانات
SQLAlchemy==2.0.22
psycopg2-binary==2.9.9

# معالجة البيانات
numpy==1.25.2
pandas==2.1.1
openpyxl==3.1.2
python-dateutil==2.8.2

# إنشاء ملفات PDF وتقارير
reportlab==4.4.7
arabic-reshaper==5.3.1
python-bidi==0.4.2

# ملفات البيئة والمتغيرات
python-dotenv==1.0.0

# طلبات HTTP
requests==2.31.0
